<!DOCTYPE html>
<html lang="en">
<head>
    <title>Controller example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        First Name: <input type="text" ng-model="firstname"><br><br>
        Last Name: <input type="text" ng-model="lastname"><br><br>
        full Name: {{firstname+" "+lastname }}
    </div>
    <script>
        var app= angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.firstname= "Amruta";
            $scope.lastname= "Kadam";
        });
    </script>
</body>
</html>